* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-top: 1rem;
    overflow-x: hidden;
    /* background-color: black; */
     /* background-image: url(image/noice-img.jpg);
     mix-blend-mode:hue;
     z-index: -1; */
    /* background-size: cover;
    background-position: center;  */
    background-image: linear-gradient(to right top, #19a7ce, #1f85ae, #22648b, #1f4568, #172946, #1c2b47, #202e48, #243049, #3c516e, #547594, #6e9cba, #89c4e1);
    /* background-image: linear-gradient(to right top, #19a7ce, #4581ac, #505d82, #473e55, #30242e, #312730, #332931, #342c33, #524c5c, #6b7089, #7c99b7, #89c4e1); */
    color: white;
    font-family: "Roboto", sans-serif;
    ;
}

.nav-logo {
    margin-bottom: 2rem;
    position: relative;
    font-size: 20px;
    cursor: default;
    ;
    gap: 10px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.nav-logo>img {

    width: 280px;
    height: 130px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /* padding: 1rem; */
    ;
    /* background: transparent; */
}

.navbar>div {
    display: flex;
}

.nav-link>a {
    margin-bottom: 2rem;
    text-decoration: none;
    color: #ffff;
    font-size: 1.2rem;
    margin: 0 1rem 0 0;

}

a>i {
    margin: 0 1rem 0 0;
    font-size: 1.3rem;
    color: white;
}

.navbar>button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background-color: white;
    transition: .3s;
    opacity: 0;
    animation: slideLeft 2s ease forwards;
    ;
    transition: ease-out 1s;
}

.navbar>button:hover {
    box-shadow: inset 400px 9px 8px 0 #0ef;
    border-radius: 30px;
    cursor: pointer;

}

.about-img>img {
    width: 400px;
    height: 200px;
    text-align: center;

}

.about-text {
    text-align: center;
}

.about {
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;



}

.nav-link>a:hover {
    color: aqua;

}

a>i:hover {
    color: aqua;
    /* font-size: 25px;   */
}

.navbar a {
    display: inline-block;
    font-size: 23px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 10px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 3s ease forwards;
    animation-delay: calc(.2s * var(--i));
}



/*  */

.home {
    padding-left: 2rem;
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin-bottom: 4rem;

}

section.animate {
    transition: 1s;
}



.home-content {
    max-width: 600px;
    text-align: left;
}


.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    /* animation: slideTop 1s ease forwards;
    animation-delay: .7s; */

}

span {
    color: #0ef;
    font-size: 3.5rem;
}

.home-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: -2px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    margin-top: 2.8rem;
    font-size: 25px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    margin-bottom: 2rem;
}

.home-icons a {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    transform: .5s ease;

}

.home-icons a:hover {
    background: #0ef;
    color: #313866;
    box-shadow: 0 0 20px #0ef;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn-box {
    margin-top: 8rem;
    padding: 18px 34px;
    background-color: white;
    border: none;
    width: 50%;
    border-radius: 15px;
    transition: .3s;
    /* opacity: 0;
    animation: slideLeft 2s ease forwards;
    transition: ease-out 1s; */



}

.btn-box a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

.btn-box:hover {
    box-shadow: inset 400px 0 0 0 #0ef;
    border-radius: 30px;
    cursor: pointer;
}

.pro-img img {
    margin-top: 2rem;
    width: 80%;
    height: 80%;
    background: none;
    transform: translatey(0px);
    animation: float 3s ease-in-out infinite;


}

.pro-img {
    transition: .3s;
    opacity: 0;
    animation: slideLeft 2s ease forwards;
    animation-delay: .2s;
}

/* .section.animate{
    transition: 1s;
} */


/* WORK DATA */

.work-data {
    /* background-color: black;
    opacity: 0.5; */
    padding: 2rem;
    margin-bottom: 5rem;
    margin-top: 7rem;
    transition: all 0.7s linear;
}

.work-div {
    gap: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 28px;


}

/*  services */
.services {
    margin-top: 50px;
    margin-bottom: 50px;
}

.service-heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 60%;
}

.service-heading>h1 {
    /* text-align: center; */
    margin-bottom: 20px;
    font-size: 75px;
}

.service-heading>p {
    text-align: center;
    font-size: 22px;
    margin-bottom: 50px;
}

.services-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services-content>img {
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
}

.services-content {
    /* border: 2px solid white; */
    border-radius: 10px;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    width: 400px;
    height: 450px;
}

.services-content>h2 {
    padding: 1px 8px;
    font-size: 30px;
    margin-bottom: 20px;
}

.services-content:hover {
    box-shadow: 0px -5px 10px 2px rgba(0, 0, 0, 0.5), 0px -2px 14px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* projects */

.project-heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 60%;
}

.project-heading>h1 {
    margin-bottom: 20px;
    font-size: 73px;
}

.project-heading>p {
    font-size: 23px;
}

.project-img1 {
    position: absolute;
    top: 20%;
    right: 40%;
    width: 600px;
    height: 300px;
    border-radius: 20px;
}

.project-img2 {
    position: absolute;

    width: 400px;
    height: 450px;
    border-radius: 20px;
}

.project-img3 {
    position: absolute;
    /* top: 80%; */
    right: 20%;
    width: 400px;
    height: 600px;
    border-radius: 20px;
}

.project-img-div {

    position: relative;
}

.projects {
    width: 100%;
    height: 900px;
}



/* Faq */
.FaQ {
    margin-bottom: 10%;
}

.FaQ>h1 {
    display: flex;
    justify-content: center;

    font-size: 3.1rem;
    margin-bottom: 3rem;
    animation: slideTop 1s ease forwards;

}



.Qna {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 4rem;
    place-content: center;
    place-items: center;

}

.Qna>h2 {
    /* text-align: left; */
    padding-top: 4rem;
    padding-bottom: 4rem;
    animation: slideRight 1s ease forwards;


}

.Qna>p {
    animation: slideLeft 2s ease forwards;

}

hr {
    width: 90%;
    opacity: 0.3;
    margin: auto;
}


/* Footer */

.Footer {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    place-content: center;
    place-items: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
    animation: slideBottom 2s ease forwards;
}




@keyframes float {
    0% {
        /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
        transform: translatey(0px);
    }

    50% {
        /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
        transform: translatey(-20px);
    }

    100% {
        /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
        transform: translatey(0px);
    }
}



@keyframes showText {
    100% {
        opacity: 1;
    }
}

@keyframes animate {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes slideTop {
    0% {
        transform: translatey(-100px);
        opacity: 0;
    }

    100% {
        transform: translatey(0px);
        opacity: 1;
    }

}

@keyframes slideBottom {
    0% {
        transform: translatey(100px);
        opacity: 0;
    }

    100% {
        transform: translatey(0px);
        opacity: 1;
    }

}



/* background animation */

/* .context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

} */